.card2{
display: flex;
width: 273px;
padding: 14px 36px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 12px;
border-radius: 24px;
border: 1px solid rgba(242, 156, 183, 0.36);
background: rgba(37, 37, 37, 0.16);    
}

.Card2_icon{
width: 77px;
height: 77px;    
}

.Card2_h5{
color: #FBD050;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px;
}

.Card2_h6{
color: #DEAAFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}